body,
.boundary {
    background: rgb(125, 125, 125);
}

.boundary {
    height: 150px;
}
.card {
    background: #ADD8E6;
    width: 700px;
    height: 700px;
    margin: 0px auto;
    border-radius: 5%;
}

.title {
    margin: 0px;
    padding: 50px;
    text-align: center;
}

.item {
    text-align: center;
    color: black;
    font-size: 24px;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}