body {
    background: rgb(125, 125, 125);
}

.card {
    background: #ADD8E6;
    width: 700px;
    height: 700px;
    margin: 0px auto;
    border-radius: 5%;
}

.title {
    margin: 0px;
    padding: 50px;
    text-align: center;
}

.item {
    text-align: center;
    color: black;
    font-size: 24px;
}